@font-face {
  font-family: inter light;
  src: url(../font/Inter-Light.ttf);
}
@font-face {
  font-family: inter regular;
  src: url(../font/Inter-Regular.ttf);
}
@font-face {
  font-family: inter medium;
  src: url(../font/Inter-Medium.ttf);
}
@font-face {
  font-family: inter semibold;
  src: url(../font/Inter-SemiBold.ttf);
}
@font-face {
  font-family: inter bold;
  src: url(../font/Inter-Bold.ttf);
}
/*CONTAINER PRINCIPAL*/
.pai{
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*BARRA INICIAL EDUCAÇÃO FINANCEIRA*/
.filho1{
  width: 100%;
  height: 6vh;
  background: #179114;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-inicial{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barra-inicial h1{
  text-align: center;
}
.barra-inicial h1 a{
  color: white;
  font-family: inter bold,helvetica,arial;
  font-size: 60%;
  text-decoration: none;
  text-align: center;
}
/*LOGO*/
.filho2{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}
.logo img{
  width: 20%;
}
/*MENU*/
.filho3{
  width: 100%;
  background: #D2D1D1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: black;
  border-style: solid;
  border-width: 2px;
}
.menu{
  width: 30%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu h1{
  text-align: center;
}
.menu h1 a{
  color: black;
  font-family: inter semibold,helvetica,arial;
  font-size: 50%;
  text-decoration: none;
  text-align: center;
}
/*BANNER PRINCIPAL*/
.filho4{
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filho4 img{
  width: 100%;
}
.titulo-banner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  padding-top: 6vh;
  padding-bottom: 10vh;
}
.titulo-banner h1{
  width: 80%;
  color: white;
  font-family: inter bold,helvetica,arial;
  font-size: 250%;
  text-align: center;
}
.titulo-banner h2{
  width: 70%;
  color: white;
  font-family: inter regular,helvetica,arial;
  font-size: 200%;
  text-align: center;
  margin: 2vh; 
}
/*CONTEÚDO PRINCIPAL*/
.filho5{
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 2%;
  background-color: white;
}
.titulo-conteudo{
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}
.titulo-conteudo h1{
  width: 100%;
  color: black;
  font-family: inter bold,helvetica,arial;
  font-size: 200%;
  text-align: center;
}
.componente1{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 1vh;
  border-color: #179114 ;
  border-style: solid;
  border-radius: 10px;
  padding-top: 4vh;
}
.icone{
  width: 13%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.icone img{
  width: 100%;
}
.titulo-componente{
  width: 73%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.titulo-componente h1{
  color: black;
  font-family: inter medium,helvetica,arial;
  font-size: 25px;
  text-align: center;
}
.conteudo-componente{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1vh;
  padding-bottom: 3vh;
}
.conteudo-componente p{
  color: black;
  font-family: inter regular,helvetica,arial;
  font-size: 24px;
}
.componente2{
  width: 21.8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 1vh;
  border-color: #179114 ;
  border-style: solid;
  border-radius: 10px;
  padding-top: 4vh;
}
.icone2{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}
.icone2 img{
  height: 100%;
}
.titulo-componente2{
  width: 90%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}
.titulo-componente2 h1{
  color: black;
  font-family: inter medium,helvetica,arial;
  font-size: 25px;
  text-align: center;
}
.conteudo-componente2{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1vh;
}
.conteudo-componente2 p{
  color: black;
  font-family: inter regular,helvetica,arial;
  font-size: 20px;
}
/*BANNER INFERIOR*/
.filho6{
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filho6 img{
  width: 100%;
}
.titulo-banner-inferior{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  padding-top: 1vh;
  padding-bottom: 10vh;
}
.titulo-banner-inferior h1{
  width: 80%;
  color: white;
  font-family: inter bold,helvetica,arial;
  font-size: 250%;
  text-align: center;
}
.botao{
  width: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  padding-top: 20vh;
}
.btn{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border-color: #179114;
  background-color: #179114;
}
.btn a{
  text-decoration: none; 
  font-family: inter medium,helvetica,arial;
  color: white;
  font-size: 200%;
}
/*ESPAÇAMENTO INFERIOR*/
.filho7{
  width: 100%;
  height: 8vh;
  background: white;
}
/*RODAPÉ*/
.filho8{
  width: 100%;
  height: 34vh;
  background: #179114;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icone-rede-social{
  width: 80%;
  height: 6vh;
  background-color: transparent;
  margin: 6vh 0vh 3vh 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone-rede-social img{
  width: 4%;
}
.endereco{
  width: 70%;
  height: 5vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.endereco h1{
  font-size: 3vh;
  font-family: inter light,helvetica,arial;
  color: white;
  text-align: center;
}
.desenvolvedor{
  width: 70%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
.desenvolvedor h1{
  font-size: 3vh;
  font-family: inter light,helvetica,arial;
  color: white; 
  text-align: center;
}
/*HQ*/
.filho9{
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
}
.fundo-hq{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #48D07F;
  padding: 3vh;
  border-color: black;
  border-style: solid;
  border-width: 3x;
}
.titulo-hq{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-hq h1{
  font-family: inter bold,helvetica,arial;
  font-size: 40px;
  text-align: center;
}
.quadrado{
  width: 23.8%;
  display: flex;
  justify-content: center;
  margin: 1vh;
}
.quadrado img{
  width: 100%;
}
.retangulo{
  width: 48.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}
.retangulo img{
  width: 100%;
}

@media(max-width: 760px){
  /*BARRA INICIAL*/
  .filho1{
    width: 100%;
    height: 4vh;
  }
  .barra-inicial h1 a{
    font-size: 13px;
  }
  /*LOGO*/
  .logo img{
    width: 40%;
  }
  /*MENU*/
  .filho3{
    width: 100%;
    height: 6vh;
  }
  .menu{
    height: 60%;
  }
  .menu h1 a{
    font-size: 9.1px;
  }
  /*BANNER PRINCIPAL*/
  .filho4 {
    width: 100%;
    height: 18vh;
  }
  .filho4 img {
    width: 100%;
    height: 100%;
  }
  .titulo-banner{
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .titulo-banner h1{
    font-size: 16px;
    margin-bottom: 2vh;
  }
  .titulo-banner h2{
    font-size: 13px;
    margin: 0.4vh;
  }
  /*CONTEÚDO PRINCIPAL*/
  .titulo-conteudo h1{
    font-size: 18px;
  }
  .componente1{
    width: 90%;
    padding-top: 1vh;
    margin: 1%;
  }
  .componente2{
    width: 43.5%;
    padding-top: 1vh;
    margin: 1%;
  }
  .titulo-componente h1,.titulo-componente2 h1{
    font-size: 18px;
  }
  .conteudo-componente,.conteudo-componente2{
    width: 96%;
  }
  .conteudo-componente p,.conteudo-componente2 p{
    width: 100%;
    font-size: 16px;
  }
  .icone,.titulo-componente{
    height: 6vh;
  }
  .icone2{
    height: 5vh;
  }
  /*BANNER INFERIOR*/
  .filho6{
    width: 100%;
    height: 22vh;
  }
  .filho6 img{
    height: 100%;
  } 
  .titulo-banner-inferior h1{
    font-size: 20px;
  }
  .botao{
    padding-top: 6vh;
  }
  .btn{
    width: 250px;
    height: 35px;
  }
  .btn a{
    font-size: 18px;
  }
  /*ESPAÇAMENTO INFERIOR*/
  .filho7{
    width: 100%;
    height: 5vh;
  }
  /*RODAPÉ*/
  .filho8{
    width: 100%;
    height: 16vh;
    padding-top: 2vh;
  }
  .icone-rede-social{
    margin: 0 0 1vh 0;
  }
  .icone-rede-social img{
    width: 2vh;
  }
  .endereco{
    width: 80%;
    height: 3;
    margin-top: 0vh;
    margin-bottom: 1vh;
  }
  .desenvolvedor{
    width: 80%;
    padding-bottom: 1vh;
  }
  .endereco h1,.desenvolvedor h1{
    text-align: center;
    font-size: 10px;
  }
  /*HQ*/
  .fundo-hq{
    width: 88%;
    padding: 4px 4px 25px 4px;
  }
  .titulo-hq h1{
    font-size: 25px;
  }
  .quadrado{
    width: 45%;
    margin: 4px;
  }
  .retangulo{
    width: 91%;
    margin: 4px;
  }
}